blinker==1.9.0
cairocffi==1.7.1
certifi==2025.7.14
cffi==2.1.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cssselect2==0.9.0
defusedxml==0.7.1
Flask==3.1.1
greenlet==3.2.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.2
numpy==2.5.1
pillow==12.3.0
psycopg2-binary==2.9.10
pycparser==3.0
python-dotenv==1.1.1
reportlab==5.0.0
requests==2.32.4
resvg_py==0.3.4
SQLAlchemy==2.0.41
svglib==2.1.0
tinycss2==1.5.1
typing_extensions==4.14.1
urllib3==2.5.0
webencodings==0.5.1
Werkzeug==3.1.3
